*, *:after, *: before{
    box-sizing: border-box;
    
}
body {
	background: #070506 url(../img/515b5d94ea83639c19e197f7acc81f93.png) top right 100% no-repeat;
	/*background-position-x: left;*/
	/*background-position-y: center;*/
	/*background-size: cover;*/
	/*background-repeat: no-repeat;*/
	background-attachment: fixed;
	color: #fff;
	font-family: sans-serif;
}
.container {
	width: 100%;
	max-width: 1060px;
	margin: 91px auto;
}
.header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.logo {
	margin-right: 71px;
}
.nav {
	margin-top: 8px;
}
.nav__link {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 150%;
	color: #FFFFFF;
	text-decoration: none;
	margin-right: 15px;
}
.hero {
	margin-top: 78px;
}
.hero__subtitle {
	font-style: normal;
	font-weight: 900;
	font-size: 40px;
	line-height: 100%;
	display: block;
}
.hero__title {
	font-weight: 900;
	font-size: 64px;
	line-height: 78px;
	margin: 0;
	margin-top: 5px;
}
.hero__description {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	color: #AFAFAF;
	width: 100%;
	max-width: 572px;
	margin-top: 25px;
}
.hero__premier {
	font-size: 18px;
	line-height: 150%;
	color: #B02000;
	margin-top: 25px;
	display: block;
}
.hero__date {
	font-size: 24px;
	line-height: 150%;
	color: #FFFFFF;
	margin-top: 5px;
	display: block;
}
.btn--play {
	display: inline-block;
	position: relative;
	margin-top: 46px;
	background: linear-gradient(90deg, #FB641A 0%, #FC3309 100%);
	border-radius: 300px;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	border: none;
	padding: 24px 34px;
	padding-right: 80px;
	color: #FFFFFF;
	text-decoration: none;
}
.btn--play:after {
	position: absolute;
	 content: '';
	 height: 65px;
	 width: 65px;
	 display: block;
	 background: #fff url(../img/play.svg) center 13px no-repeat;
	 right: 0;
	 top: 0;
	 border-radius: 50%;
}
.btn--play:before {
	content: '';
	position: absolute;
	display: block;	
	width: 81px;
	height: 81px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.3);
	top: -8px;
	right: -8px; 
}
.episodes {
	margin-top: 59px;	
}
.episodes__title {
	font-weight: bold;
	font-size: 18px;
	line-height: 150%;
	margin-bottom: 24px;

}
.slider {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
.slider__item {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
	width: 250px;
	min-height: 200px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 30px;
	background: linear-gradient(0deg, rgba(80, 80, 80, 0.86), rgba(80, 80, 80, 0.86));
	box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	transition: background 1s;
}
.slider__item:hover {
	background: linear-gradient(0deg, rgba(64, 101, 255, 0.86), rgba(64, 101, 255, 0.86));
}
.slider__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	z-index: -1;
	border-radius: 10px;
}
.star {
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../img/star.svg) no-repeat center;
}
.star-o {
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url(../img/star-o.svg) no-repeat center;
}

.slider__nav--left {
	width: 32px;
	height: 32px;
	border: none;
	outline: none;
	background: transparent url(../img/arrow-left.svg) no-repeat center;
	margin-right: 15px;
	cursor: pointer;
}
.slider__nav--right {
	width: 32px;
	height: 32px;
	border: none;
	outline: none;
	cursor: pointer;
	background: transparent url(../img/arrow-right.svg) no-repeat center;
}

.slider__nav--left span, 
.slider__nav--right span {
	display: none;
}
.animate__fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
@media (max-width: 600px) {
	.header {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		align-items: flex-start;
	}
	.container {
		margin-top: 20px;
		margin-right: 20px;
		margin-left: 20px;
	}
	.logo {
		margin-bottom: 10px;
	}
	.hero__subtitle {
		font-size: 30px;
	}
	.hero__title {
		margin-top: 10px;
		font-size: 42px;
		line-height: 100%;
	}
	.hero__description {
		font-size: 16px;
	}
	.hero {
		margin-top: 50px;
	}
}